<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora Posts</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <head>
        <h1>Quora Posts</h1>
    </head>

    <main>
        <%for(let post of posts) {%>
            <div>
                <h3><%=post.username;%></h3>
                <p><%=post.status;%></p>
            </div>
        <%}%>
    </main>

    <footer>
        <button id="create-new-post"><a href="http://localhost:8080/posts/new">New Post</a></button>
        <p>Be fashionist!</p>
    </footer>
</body>
</html>