<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
    <h1>Here's your Post!</h1>
    <div id="show-username"><%=post.username%></div>
    <div id="show-id"><%=post.id%></div>
    <div id="show-status"><%=post.status%></div>

    <div>Be Fashionist!</div>
</body>
</html>