<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submission</title>
</head>
<body>
    <form method="post" action="/formsubmission">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="enter your username" name="username"/>
        </div>
        <div>
            <label for="pswd">Password</label>
            <input type="password" id="pswd" placeholder="enter your password" name="pswd"/>
        </div>
        <div>
            <input type="submit" value="Submit"/>
        </div>
    </form>

</body>
</html>