<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <header>
        <h1>FASHION SPY</h1>
        <h5>Hii <%=CustomerName.toUpperCase()-%>! Your daily Fashion Bits are here.</h5>
    </header>
    
    <!-- Blog content generated from HUGGING FACE TRANSFORMERS -->
    <p>Trends are born from the runway each season, 
        but don’t truly come alive until they’re taken to the streets. 
        At Copenhagen’s SS23 Fashion Week, this theory was put to the test, 
        and to no one’s surprise, this sartorial lot delivered. 
        From outfits with a Western flare to suit vests galore, 
        stylish showgoers showcased many a fall trend, 
        but none stood out more than the playful punches of colour. 
        According to this season’s street stylers, 
        the best fall fashion colours in 2022 are bright and beautiful, 
        from head-to-toe oranges and zesty lime greens to classic autumnal 
        browns and greys. If you consider yourself more of a colour minimalist, 
        let this be the season where you color outside of the lines and into 
        your wardrobes.
    </p>
    
    <!-- AI chatbot -->
    <footer>
        <input id="chatbot" type="text" placeholder="Want such recommendation from Myntra?" size="32"/>
    </footer>
</body>
</html>