#loader{
    height: 120px;
    width: 120px;
    border: 20px solid #f3f3f3;
    border-top: 20px solid goldenrod;
    border-radius: 50%;
    animation: spin 10s linear infinite;
    animation-delay: 1s;
}

@keyframes spin{
    0%{
        transform: rotate(10deg);
    }
    20%{
        transform: rotate(120deg);
    }

    40%{
        transform: rotate(180deg);
    }

    60%{
        transform: rotate(240deg);
    }

    80%{
        transform: rotate(300deg);
    }

    100%{
        transform: rotate(360deg);
    }
}