#box{
    height: 100px;
    width: 300px;
    background-color: pink;
    border: 5px dotted black;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em;
    transition-duration: 3s;
    transition-delay: 0.5s;
    transform:rotate(10deg);

}

#insidebox{
    height: 25px;
    width: 25px;
    background-color: grey;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin: 33px;
    display: inline-block;
    transition-duration: 3s;
    transition-delay: 0.5s;
}

#insidebox:hover{
    background-color: purple;
    border: 3px dotted grey
}

#box:hover{
    border-radius: 50%;
    margin-top: 600px;
}

section{
    margin-top: 40px;
}

div[id="table"]{
    height: 40px;
    width:300px;
    margin: 0 autoS;
    margin-top: 5px;
}

div[id="table"]:nth-of-type(n){
    background-color: burlywood;
    transform:rotate(10deg);
    
}

div[id=table]:nth-of-type(2n){
    background-color:bisque
}

#pic{
    height: 500px;
    width: 500px;
    margin-top: 100px;
    margin: 0 auto;
    background-color: rgb(104, 153, 104);
    transition: border-radius 3s linear 0.3s;
}

#pic:hover{
    background-image: url("image.jpg");
    border-radius: 50%;
    background-size: cover;
}